body {
  width: 960px;
}
#content{
  margin: 0px 0px 0px 310px;
  width: 480px;
  float:left;
}
#menu_td{
  width: 300px;
}
#menu_td img{
  display: none;
}
#drawer {
  position : absolute;
  float : left;
  margin-top : -1px;
  width : 300px;   
  background-color: white;
}

.pc_disp_none{
  display: none;
}
#ad_right{
  position:absolute;
  left:1000px;
  top:50px;
}