<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <title>{{.Title}}</title>
    <meta name="description" content="{{.Description}}">
    <link rel="shortcut icon" href="/favicon.ico">
    <meta property="og:image" content="https://{{.OgImage}}" />
    <script src="/plugin/min.js"></script>
    <link rel="stylesheet" href="/css/common.css{{.CacheV}}" />
    <link rel="stylesheet" href="/css/pc.css{{.CacheV}}" media="only screen and (min-width : 711px)">
    <link rel="stylesheet" href="/css/sp.css{{.CacheV}}" media="only screen and (max-width : 710px)">
    <meta name="viewport" content="width=device-width, user-scalable=no" >
  </head>
<style>
.choice {
  width: 99%;
  cursor: pointer;
  padding: 10px;
  height: 30px;
  border-bottom: 1px solid white;
  text-align: left;
}
.choicePicture td{
  width: 49%;
  text-align: center;
}
.choicePicture td img {
  max-width: 99%;
}
.silver {
  background-color: #EEEEEE;
}
.ans_u_correct td {
    height: 50px;
    width: 12.5%;
    text-align: center;
    background-color: rgba(0,255,0,0.2);
    border-width: 0px 0px;
}
.ans_u_incorrect td {
    height: 50px;
    width: 12.5%;
    text-align: center;
    background-color: rgba(255,0,0,0.2);
    border-width: 0px 0px;
}
.ans_icon {
    max-width: 35px;
}
</style>
<body>
<table id="header">
  <tr>
  <td id="menu_td">
    <img src="/img/icon/menu.png" class="icon">
  </td>
  <td>
    <a href="/message/"><img src="/img/icon/mail.png" class="icon"></a>
  </td>
  <td>
    <a href="/rank/" ><img src="/img/icon/ranking.png" class="icon"></a>
  </td>
  <td>
    <a href="/mydata/"><img src="/img/icon/bar-chart.png" class="icon"></a>
  </td>
  <td>
    <a href="/htm/myprofile/" ><img src="/img/icon/guest.png" id="page_myimg" class="icon"></a>
  </td>
  </tr>
</table>
<table id="drawer">
  <tr><td id="ad_menu"><iframe src="/advertisement/ad_300_250/" width="300" height="250" frameborder="0" scrolling="no"></iframe></td></tr>
  <tr><td><a href="/"><img src="/img/icon/home.png" class="icon"></a></td></tr>
  <tr><td><a href="/htm/rule/"><img src="/img/icon/audit.png" class="icon"></a></td></tr>
</table>

<div id="content">

<div style="position:absolute;top:-10000px;">
  {{ if eq .Available 0 }}
  <audio id="audio" controls><source src="{{.Q.Sound}}"></audio>
  {{ end }}
  <audio id="audio_correct" controls><source src="/sound/correct.mp3"></audio>
  <audio id="audio_incorrect" controls><source src="/sound/incorrect.mp3"></audio>
</div>
  
<div id="play" onclick="playing();">

<div id="ad"><iframe src="/advertisement/ad_320_50/" width="320" height="50" frameborder="0" scrolling="no"></iframe></div>
{{ if .Q.QuestionImg}}
<div id="div_photo">
  <img src="{{.Q.QuestionImg}}" id="photo">
</div>
{{ end }}
<div style="padding: 5px 5px 20px 5px;"> 
No.{{.Q.Sequence}} <span id="question_txt">{{.Qtxt}}</span> 
{{ if eq .Available 0 }}
<div style="width:100%;text-align:center;" onclick="playingAudio();"><img src="/img/icon/speaker.png"></div> 
{{end}}
</div>
<div id="app" line="182">
<div style="position: relative;">
  <div style="position: absolute; width:100%; text-align: center;">
  <img src="/img/icon/circle_big.png" class="big_icon" v-if="circle">
  <img src="/img/icon/cross_big.png" class="big_icon" v-if="cross">
  </div>
  {{if eq .Q.QuestionType 2}}
  <table class="choicePicture"><tr>
      <td @click="choose(0)" :style="choices[0][2]" ><img :src="choices[0][1]"></td>
      <td @click="choose(1)" :style="choices[1][2]" ><img :src="choices[1][1]"></td>
  </tr><tr>
      <td @click="choose(2)" :style="choices[2][2]" ><img :src="choices[2][1]"></td>
      <td @click="choose(3)" :style="choices[3][2]" ><img :src="choices[3][1]"></td>
  </tr></table>

  {{else}}
  <div v-if="localStorage.qType == 1">
    <input type="text" style="width:92%;height:50px;" v-model="choiceTxt" >
    <div style="width:98%;text-align:right;" v-if="choiceTxt" @click="describe">
      <img src="/img/icon/upload_0.png" class="icon" >
    </div>
  </div>
  <table v-if="!localStorage.qType">
    <tr></tr><td class="choice" @click="choose(0)" :style="choices[0][2]" >[[ choices[0][1] ]]</td></tr>
    <tr></tr><td class="choice" @click="choose(1)" :style="choices[1][2]" >[[ choices[1][1] ]]</td></tr>
    <tr></tr><td class="choice" @click="choose(2)" :style="choices[2][2]" >[[ choices[2][1] ]]</td></tr>
    <tr></tr><td class="choice" @click="choose(3)" :style="choices[3][2]" >[[ choices[3][1] ]]</td></tr>
  </table>
  {{end}}

</div>
{{ if eq .Q.QuestionType 0 }}
<table>
  <tr>
  <td :class="{ silver: !localStorage.qType }" onclick="chgQtype(1)"> <img src="/img/icon/textbox.png" class="icon"></td>
  <td :class="{ silver: localStorage.qType == 1}" onclick="chgQtype(0)"> <img src="/img/icon/choice.png" class="icon"> </td>
  </tr>
</table>
{{ end }}
<table>
<tr>
  <td><img src="/img/icon/circle_big.png" alt="correct ratio" class="icon"></td>
  <td style="text-align: left;"> [[ AnswerCalc[0] ]] %</td>
  <td><img src="/img/icon/answer.png" alt="amount of answer" class="icon"></td>
  <td style="text-align: left;"> [[ AnswerCalc[1] ]] </td>
</tr>
</table>
<table class="ans_u_correct">
<tr><td v-for="d,k in CorrectUsr" v-if="k < 8">
  <img class="ans_icon" v-if="d[0]" :src="d[0]" :style="d[1]">
</td></tr>
<tr><td v-for="d,k in CorrectUsr" v-if="k >= 8">
  <img class="ans_icon" v-if="d[0]" :src="d[0]" :style="d[1]">
</td></tr>
</table>
<table class="ans_u_incorrect" >
  <tr><td v-for="d,k in IncorrectUsr" v-if="k < 8">
    <img class="ans_icon" v-if="d[0]" :src="d[0]" :style="d[1]">
  </td></tr>
  <tr><td v-for="d,k in IncorrectUsr" v-if="k >= 8">
    <img class="ans_icon" v-if="d[0]" :src="d[0]" :style="d[1]">
  </td></tr>
</table>
<div style="padding: 5px 5px 20px 5px;" id="explanation">{{.Q.Explanation}}</div>
<textarea placeholder="comment" style="width:92%;margin: 2px;" v-model="commentTxt"></textarea>
<div style="width:100%;text-align:right;">
  <img src="/img/icon/upload_0.png" alt="comment" class="icon" v-if="!commented && commentTxt" @click="commenting">
  <img src="/img/icon/success.png" alt="success" class="icon" v-if="commented">
</div>
<table>
  <tr v-for="d,k in Comment">
    <td style="width:15%;"><img class="icon" :src="d.UsrImg" :style="d.EtoColor" ></td>
    <td style="width:84%;text-align:left;">[[ d.CommentTxt ]]</td>
  </tr>
</table>

</div line="106">

<div>
{{ range $v := .BreadCrumb }}
&nbsp;<a style="margin: 5px 0px 5px 0px;" href="/category/{{$v.Level}}/{{$v.CategoryID}}/"> {{$v.CategoryName}} </a> > &nbsp;
{{end}}
</div>

{{ if .Q.Reference }}
<div style="word-wrap:break-word;" id="reference">reference: {{.Q.Reference}}</div>
{{ end }}

<table><tr>
  <td style="height:50px;font-size:30px;"><a href="/quiz/?q={{.Q.PreviousQuestion}}"> < </a></td>
  <td style="height:50px;font-size:30px;"><a href="/quiz/?q={{.Q.NextQuestion}}" id="nextQ" > > </a></td>
</tr></table>

</div>

<div id="ad_right"></div>

</div>

<script>

localStorage.myphoto  = '{{.Myphoto}}';
localStorage.etoColor = '{{.EtoColor}}';

var csrf = '{{.CSRF}}';
var q_id = '{{.Q.QuestionID}}';
var myphoto = '{{.Myphoto}}';
var etoColor = '{{.EtoColor}}';
var available = '{{.Available}}';

function shuffle(array) {
  var m = array.length, t, i;
  while (m) {
    i = Math.floor(Math.random() * m--);
    t = array[m];
    array[m] = array[i];
    array[i] = t;
  }
  return array;
}
var localQ = localStorage.q ? JSON.parse(localStorage.q) : [];
var qi = -1;
for(var i = 0; i < localQ.length; i++){
  if(localQ[i][0] == q_id){
    qi = i;
  }
}

function chgQtype(qType) {
  if(available != 1){
    return;
  }
  if(qType == 1){
    localStorage.qType = qType;
  }else{
    localStorage.removeItem('qType');
  }
  setTimeout(function(){
    location.href = "" ;
    return;
  },100);
}
if(available == 0){
  var audio = document.getElementById("audio");
  $('#content a').css({ 'pointer-events': 'none' });
  $('#app').css({ 'opacity': available });
}
function playing() {
  if(available == 0){
    audio.play();
    $('#app').css({ 'opacity': 1 });
    setTimeout(function(){
      $('#content a').css({ 'pointer-events': '' });
      available = 1;
    },2000); 
  }
}
function playingAudio() {
  if(available == 1 && audio){
    audio.play();
  }
}
var app = new Vue({
  el: '#app',
  delimiters: ['[[', ']]'],
  data: {
    preChoices:['{{.Q.Choice0}}','{{.Q.Choice1}}','{{.Q.Choice2}}','{{.Q.Choice3}}'],
    choices: shuffle([
      [0,'{{.Q.Choice0}}','background-color: #F5F5F5;'],
      [1,'{{.Q.Choice1}}','background-color: #F5F5F5;'],
      [2,'{{.Q.Choice2}}','background-color: #F5F5F5;'],
      [3,'{{.Q.Choice3}}','background-color: #F5F5F5;'] ]),
    choiceTxt: '',
    circle: false,
    cross: false,
    CorrectUsr: [['',''],['',''],['',''],['',''],['',''],['',''],['',''],['',''],['',''],['',''],['',''],['',''],['',''],['',''],['',''],['','']],
    IncorrectUsr: [['',''],['',''],['',''],['',''],['',''],['',''],['',''],['',''],['',''],['',''],['',''],['',''],['',''],['',''],['',''],['','']],
    AnswerCalc: [],
    Comment: [],
    commentTxt: "",
    commented: false,
  },
  methods: {
    choose: function (choiced) {
      if(available != 1){
        return;
      }
      available = 2;
      this.$set(this.choices[choiced],[2],'background-color: grey;');
      var correct = 0;
      if(app.choices[choiced][0] == 0){
        correct = 1;
      }
      setTimeout(function(){
        for(var i = 0; i < app.choices.length; i++){
          if(app.choices[i][0] == 0){
            app.choices[i][2] = 'background-color: lime;';
          }else if(choiced == i){
            app.choices[choiced][2] = 'background-color:red;opacity:0.5;';
          }else{
            app.choices[i][2] = 'opacity:0.2;';
          }
        }
        //if(correct == 0){
        //  app.choices[choiced][2] = 'background-color: red;';
        //}
        UIeffect(correct);
      },1000);
      saveLocal(correct);
      if(qi == -1){
        posting(correct);
      }
    },
    describe: function (e) {
      if(available != 1){
        return;
      }
      available = 2;
      var correct = 0;
      if(this.choiceTxt == this.preChoices[0]){
        correct = 1;
      }
      setTimeout(function(){
        UIeffect(correct);
      },1000);
      saveLocal(correct);
      if(qi == -1){
        posting(correct);
      }
    },
    commenting: function (k) {
      var param = {
        csrf : csrf,
        comment_txt : this.commentTxt,
        question_id : q_id,
        usr_img : etoColor ? '' : myphoto
      };
      $.post('/CommentAdd/',param,function(){},"json")
      .always(function(res){
        if(res['Status']==1){
          location.href = "";
        }else{
          console.log(res);
        }
      });
    },
  },
});

function answerShow(){
  var param = {
    csrf : csrf,
    q : q_id
  };
  $.get('/AnswerShow/',param,function(){},"json")
  .always(function(res){
    if(res['Status']==1){
      app.CorrectUsr = res['CorrectUsr'];
      app.IncorrectUsr = res['IncorrectUsr'];
      app.AnswerCalc = res['AnswerCalc'];
      app.Comment = res['Comment'];
    }else{
      console.log(res);
    }
  });
}
answerShow();

var audio_correct = document.getElementById("audio_correct");
var audio_incorrect = document.getElementById("audio_incorrect");
function UIeffect(correct){
  
  var correctAmount = app.AnswerCalc[0] * app.AnswerCalc[1] / 100;
  app.AnswerCalc[1]++;
  if(correct == 1){
    app.circle = true;
    audio_correct.play();
    app.CorrectUsr.unshift([myphoto,'background-color:#'+etoColor]);
    correctAmount++;
  }else{
    app.cross = true;
    audio_incorrect.play();
    app.IncorrectUsr.unshift([myphoto,'background-color:#'+etoColor]);
  }
  app.AnswerCalc[0] = Math.round(correctAmount / app.AnswerCalc[1] * 100);
  setTimeout(function(){
    if($('#nextQ').attr('href') != '/quiz/?q=0'){
      location.href = $('#nextQ').attr('href');
    }
  },200);
}
function saveLocal(correct){
  var arrQ = [
    q_id
    ,$('#question_txt').html().replace(/<br>/g,"\n")
    ,app.preChoices
    ,$('#reference').html() ? $('#reference').html() : ''
    ,'{{.Q.QuestionType}}'
    ,'{{.Q.QuestionImg}}'
    ,correct
    ,$('#explanation').html().replace(/<br>/g,"\n")
  ];
  if(qi > -1){
    localQ[qi] = arrQ;
  } else {
    localQ.unshift(arrQ);
  }
  if(localQ.length > 199){
    var diff = localQ.length - 200;
    localQ.splice(-diff, diff);
  }
  localStorage.q = JSON.stringify(localQ);
  var daily = localStorage.daily ? JSON.parse(localStorage.daily) : {};
  var today = new Date().getFullYear() + '-' + (new Date().getMonth()+1) + '-' + new Date().getDate()
  if(daily[today] && daily[today][1]){
    daily[today][1]++;
    if(correct == 1){
      daily[today][0]++;
    }
  }else{
    daily[today] = [correct,1];
  }
  for(var k in daily) {
    if(k.split("-")[1] != new Date().getMonth()+1 && k.split("-")[1] != new Date().getMonth()){
      delete daily[k];
    }
  }
  localStorage.daily = JSON.stringify(daily);
}
function posting(correct){
  $.cookie('cat','{{.Q.CategoryID}}',{expires:7, path:'/'});
  var param = {
    csrf           : csrf
    ,question_id   : q_id
    ,question_txt  : $('#question_txt').html().replace(/<br>/g,"").substr(0, 50)
    ,category_id   : '{{.Q.CategoryID}}'
    ,respondent_img: etoColor ? '' : myphoto
    ,correct : correct
  };
  $.post('/Answer/',param,function(){},"json")
  .always(function(res){});
}

</script>

<script src="/js/common.js{{.CacheV}}"></script>
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-57298122-1"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());
  gtag('config', 'UA-57298122-1');
</script>

</body>
</html>

